<div class="slide1 slide">
	<h1 class="about-title">OXYMORON</h1>
	<h2 class="about-sub-title">OXYMORON = 矛盾語法・撞着語法</h2>
	<p class="about-text">
		「小さな巨人や」「急がば回れ」などのAであって、かつ、not A<br>
		現代社会で時間が欲しいが仕事が...みたいな矛盾があると思い<br>
		予定の内容を整理し可視化したいと思い制作いたしました。
	</p>
	<div class="notice">
	<h3>製作者からのお願い</h3>
	<ol>
		<li>基本的な使い方は自由です。</li>
		<li>ステータスは必ず登録する様にして下さい。</li>
		<li>グラフが存在し、1ヶ月間のタスクのステータスが確認できます。</li>
		<li>日々確認して頂きたいですが月末には必ずグラフを確認し、振り返って下さい。</li>
		<li>「 緊急ではない×重要 」が一番多くなる事を目指しましょう。</li>
	</ol>
	<div>
	<div class="update-schedule">
		<h3>この後のアップデート予定</h3>
		<ol>
			<li>UI・UXの向上</li>
			<li>ロケーション検索・登録機能</li>
			<li>タスク開始通知機能</li>
			<li>他者との共有機能</li>
		</ol>
	</div>
</div>