<div class= "wrap-video">
	<h1 class= "title">OXYMORON</h1>
	<div class= "top-login">
		<p><%= link_to "LOG_IN", new_user_session_path %></p>
	</div>
	<div class= "top-signup">
		<p><%= link_to "SIGN UP", new_user_registration_path %></p>
	</div>
	<video src= "MVI_1449.mp4" mutde autoplay loop></video>
</div>
