<div class="unsubscribe">
	<h1>本当に退会しますか？</h1>
	<div class="unsubscribe-text-box">
		<div class="unsubscribe-text-box-contents">
		<h3>
			退会すると、会員情報や<br>
			スケジュールが閲覧できなくなります。<br>
			退会する場合は「退会する」をクリックして下さい。
		</h3>
	</div>
	</div>
	<div class="unsubscribe-button">
		<%= link_to "退会しない", users_user_path(current_user.id), :style => "text-decoration:none; color:white;" %>
	</div>
	<div class="unsubscribe-button-2">
		<%= link_to "退会する", users_user_path(current_user.id), data: { confirm: "本当に退会しますか?" }, method: :delete, :style => "text-decoration:none; color:white;" %>
	</div>
</div>
