// Place all the styles related to the users::registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registrations-edit {
	text-align:center;
	margin-top: 100px;
}
.registrations-edit-button {
  display: inline-block;
  background-color: #029bee;/*背景色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}

.registrations-edit-button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}
.registrations-edit-box {
	border-radius: 10px;
	border: 3px #ddd solid;
	margin: 60px auto 0;
	width: 650px;
    height: 350px;
}
.registrations-text-box-contents {
  margin-top: 30px;
}
.actions {
	margin-top: 20px;
}
input[type="email"] {
    width: 230px;
    height: 35px;
    font-size: 17px;
  }
input[type="password"] {
    width: 230px;
    height: 35px;
    font-size: 17px;
  }
.registrations-edit-submit[type="submit"] {
  border-style: none;
  width: auto;
  height: auto;
  background: linear-gradient(to bottom,#81D4FA,#03A9F4);
  border-radius: 3px;
  border: 1px #0288D1 solid;
  color: #fff;
}
.registrations-edit-submit input[type="submit"]:hover {
  cursor: pointer;
  background: #03A9F4;
}
.registrations-edit-button[type="submit"] {
  border-style: none;
  width: auto;
  height: auto;
  background: linear-gradient(to bottom,#FF8A80,#FF1744);
  border-radius: 3px;
  border: 1px #D50000 solid;
  color: #fff;
}

.registrations-edit-button input[type="submit"]:hover {
  cursor: pointer;
  background: #FF1744;
}