.form-block {
  position: relative;
  font-size: 12px;
  width: 200px;
  padding: 10px;
  margin: 0 0 20px 0;
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  -moz-box-shadow: 0 2px 3px 0 #ddd;
  -webkit-box-shadow: 0 2px 3px 0 #ddd;
  margin-top: 20px;
  margin-left: 150px;
  cursor : pointer;
}
.form-block .close {
  background-color: #aaa;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #ddc inset;
  color: #666;
  display: inline-block;
  font-size: 24px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  top: 4px;
  position: absolute;
  right: 4px;
  width: 25px;
  cursor: pointer;
}
.form-block .add {
  position: absolute;
  background-color: #ddd;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 32px;
  height: 20px;
  width: 20px;
  line-height: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

// 削除ボタン
.deletebutton-position {
  margin-left: 195px;
  margin-top: -46.5px;
  z-index: 3;
}
#deletebutton {
  display: block;
  width: 30px;
  height: 30px;
    background: #ffff;/*背景色*/
    text-align: center;
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動き*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  }
  #deletebutton:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
  #deletebutton i {
    color: #000;
  line-height: 30px;/*＝幅と高さ*/
  font-size: 10px;/*サイズ*/
}

// ブックマークボタン
#bookmark-button i {
  color: #E0E0E0;
}
#bookmark-button-2 i {
  color: #FFEB3B;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.bookmark {
  margin-top: -15px;
  z-index: 3;
}

// モーダル
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modal__bg{
  background: rgba(0,0,0,0.2);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.modal__content{
  overflow: auto;
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 600px;
  text-align: center;
  z-index: 1;
}
.modal-content {
  margin-top: 55px;
}
#textarea {
  width: 200px;
  padding: 8px;
  line-height: 20px;
}
.task-leaf {
  text-align: center;
}
.modal-bookmark {
  margin-top: -25px;
  margin-left: -480px;
}